/* INDEX */

.rooms-index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('https://res.cloudinary.com/dsncbmlkl/image/upload/v1560239080/rooms-materials/jeshoots-com-606648-unsplash_1_mo0nwb.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.rooms-index .header {
display: flex;
margin-left: 1em;
}
.rooms-index .header h3 {
  margin-left: 0.3em;
  font-family: helvetica;
  color: white;
  font-weight: bolder;
  font-size: 2em;
  margin-top: 13px;
}
.rooms-index .header .logo {
  color: white;
  font-weight: bolder;
  font-size: 1.3em;
  margin-top: 22px;
}
.rooms-index .search-container {
  display:flex;
  width: 100vw;
  justify-content: center;
  align-items : center;
 
}
.rooms-index .search {
  display: block;
  color: white;
  font-size: 4.2em;
}
.rooms-index Link {
  display:inline-block;
  text-align: center;

}

.rooms-index .login {
  display: flex;
  justify-content: center;
  width: 100vw;
  color: white;
}
.rooms-index .button-login {
  color: inherit;
  margin-bottom: 4.8em;
  border-radius:13px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  width:19em;
  font-size: 0.77em;
  font-weight: bold;
  padding: 6px;
  border: 3px solid white;
  background-color: transparent;
  
}
.index-info {
  font-family: helvetica;
  margin-top:5.3em;
  margin-left:1em;
  color: white;
}
.index-info h3 {
  font-weight: bolder;
  font-size: 4em;
}
.index-info p {
  font-weight: bolder;
  font-size: 1.1em;
}

/* MODAL */
.modal-backdrop {
 
}
.blur {
  filter:opacity(0.5);
  filter:blur(50px);
}
.modalbody, .modal-content, .modal-dialog, .modal, .modal-header, .modalbody form {
  border: none;
  color: white;
  background-color:transparent;
}
.modalbody input {
  margin: 0 auto;
  width:320px;
  font-family:helvetica;
  font-weight: bold;
}
.modal-header {
  margin-top:30vh;
}
.location-radio {
  display:flex;
  justify-content: start;
  margin-top:40px;
}
.location-radio .radio {
  width:20px;
  height: 20px;
  margin:0px 0px 0px 27px;
}
.send-form-button {
  margin:30px 0px 0px 27px;
}
.modalbody p {
  margin:30px 0px 0px 27px;
}
#signup-link {
  display: inline-block;
  margin:10px 0px 0px 27px;
  color:rgb(176, 237, 255);
  
}