.map-container {
  display: flex;
}

a:hover {
  text-decoration: none;
  color: white;
}

/* InfoWindow Classes */

.info-window-main {
  padding: 10px;
}
.info-window {
  background-color: #212529;
  color: white;
}
.info-window-img {
  display: inline-block;
}
.info-window-content {
  color: white;
  display: inline-block;
  vertical-align: middle;
  padding: 15px;
  font-size: 1.2em;
}

.info-window-tags {
}

.info-window-content .icon-user {
  margin-left: 15px;
}

.info-window-img img {
  width: 150px;
}
.info-window ul {
  margin: 0;
  padding: 0;
}
.info-window li {
  list-style-type: none;
  margin-bottom: 10px;
}
.info-window .roomname {
  font-weight: 600;
  font-size: 1.2em;
}
.info-window span {
  margin-left: 10px;
}

.info-window .iconhome {
  font-size: 1.5em;
}

.gm-style .gm-style-iw-c {
  background-color: #212529;
  padding: 10px !important;
}
.gm-style .gm-style-iw-d {
  overflow: hidden !important;
}
.gm-style .gm-style-iw-t::after {
  background-color: #212529;
}

.info-window-btn {
  margin: 0 auto;
  margin-top: 15px;
  text-decoration: none;
  font-size: .75em;
  border: 2px solid white;
  background-color: transparent;
  letter-spacing: 2px;
  border-radius: 1500px;
  color:white;
  padding: 8px 25px;
  margin-right: 10px;
}
.info-window-btn:focus {
  outline: none;
}

.info-window-tag {
  color: white;
  text-decoration: none;
  font-size: inherit;
  border: 0;
  background-color: transparent;
  text-decoration: none;
}

.info-window-tag:hover {
  text-decoration: underline;
}

.info-window-tag:focus {
  outline: none;
}

.info-window-following {
  background: white;
  color: #212529;
}

/* Menu */

.map-menu {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.map-menu a {
  color: white;
}

.map-buttons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: white;
  margin-bottom: 1.2em;
  border-radius: 1000px;
  width: 19em;
  font-size: 0.77em;
  font-weight: bold;
  border: 2px solid white;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 6px;
  
  
}
.map-buttons:hover {
  text-decoration: underline;
}

.map-buttons:focus {
  outline: none;
}

.map-buttons-create {
  height: 2;
  margin: 0 auto;
  color: inherit;
  margin-bottom: 4em;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 19em;
  font-size: 0.77em;
  font-weight: bold;
  border: 3px solid white;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: inherit;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 19em;
  padding: 6px;
}

.map {
  z-index: -999;
}
