.info-window-main {
  /* overflow: hidden!important; */
  padding: 10px;
}
.info-window {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: #212529;
  color: white;
}
.info-window-img {
  display: inline-block;
}
.info-window-content {
  color: white;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.info-window-img img {
  width: 150px;
}
.gm-style .gm-style-iw-c {
  background-color: #212529;
  padding: 10px!important;

}
.gm-style .gm-style-iw-d{
  overflow: hidden!important;
}
.gm-style .gm-style-iw-t::after {
  background-color: #212529;
}
.map-menu {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.map-menu a {
  color:white;
}

.map-buttons {
    height: 2;
    margin: 0 auto;
    color: inherit;
    margin-bottom: 1.2em;
    border-radius:13px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    width:19em;
    font-size: 0.77em;
    font-weight: bold;

    border: 3px solid white;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: inherit;
    border-radius:13px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    width:19em;
    padding: 6px;


    
}

.map-buttons-create {
  height: 2;
  margin: 0 auto;
  color: inherit;
  margin-bottom: 4em;
  border-radius:13px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  width:19em;
  font-size: 0.77em;
  font-weight: bold;

  border: 3px solid white;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: inherit;
  border-radius:13px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  width:19em;
  padding: 6px;
}


.map {
  z-index:-999;
}